.recommendation-list-item {
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    border-radius: 10px;
}

.recommendation-link {
    text-align: right;
}

.recommendation-entry {
    text-align: right;
}

.recommendation-list-item a {
    background-color: #E80C3E;
    color: white;
    margin: auto;
    padding: 1%;
    border-radius: 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

@media (min-width: 601px) {
    .recommendation-list-item {
        padding: 2%;
    }
}