body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
}

/* Media Queries */
@media (max-width: 600px) {

  /* Mobile devices */
  .custom-font {
      font-size: 24px;
  }

  p {
      font-size: 14px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {

  /* Tablets */
  .custom-font {
      font-size: 30px;
  }

  p {
      font-size: 16px;
  }
}
